.contents {
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    margin-top: 20px;
    padding: 20px 0px 25px 0px;
}

.search {
    height: 20px;;
    width: auto;
    margin-left: 5px;
}

button {
    border-style: none;
    background-color: #FFFFFF; 
    cursor: pointer;
}

.category {
    height: auto;
    width: auto;
    font-size: 15px;
}

.cover {
    font-size: 15px;
    padding: 5px;
    max-width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #6a99ec, 0 0 0 8px #ffffffeb;
    margin: 10px auto 25px auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

img {
    width: 100%;
    border-radius: 8px 0 0 8px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 222px auto;
    grid-gap: 10px;
    padding: 0px 10% 0px 10%;
  }
  .titre {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #414244;
  }
  li, a {
    list-style: none;
    text-decoration: none;
    color: #767779;
    font-size: 14px;
  }
  ul {
    padding-left: 0px;
  }
  .gauche{
    padding-right: 15px;
  }
  .category__icon{
    height: 1.1rem;
    width: auto;
    border-radius: 0px;
  }
  a:hover {
    color: #4b88f1;
  }

  @media screen and (max-width: 700px) {
    .grid-container{
      flex-direction: column;
      display: flex;
    }
    ul{
      grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 540px) {
    .cover{
      max-width: 213px;
    }
  }
  .col2{
    margin: 0px;
    padding: 0px;
    display: inline-block;
  }