<div class="details" *ngFor="let project of projects">
    <div class="details__item">
        <div class="item__image">
            <img class="catgor" src="{{project.link}}" alt="category">
        </div>
        <div class="item__details">
            <div class="item__title">{{project.title}}
            </div>
            <div class="item__price">
            {{project.price}} FCFA / <span [ngStyle]="{color: getColor(project.state)}">{{project.state}}</span>
            </div>
            <div class="item__description">
                {{getDescribe(project.description)}}
            </div>
            <div class="date">
                {{project.date}} à {{project.time}}
            </div>
        </div>
    </div>
</div>