<div class="details">
    <div class="details__item">
        <div class="item__image">
            <img class="catgor" src="../../assets/img/project-plan.png" alt="category">
        </div>
        <div class="item__details">
            <div class="item__title">
            Creation d'une application web
            </div>
            <div class="item__price">
            300 000 FCFA / <span class="green">Ouvert</span>
            </div>
            <div class="item__description">
                Super fast and power efficient A lot of fast memory High resolution camera 
                Super fast and power efficient A lot of fast memory High resolution camera
            </div>
            <div class="date">
                Ajourd'hui à 12h:00
            </div>
        </div>
    </div>
</div>
<div class="details">
    <div class="details__item">
        <div class="item__image">
            <img class="catgor" src="../../assets/img/project-management.png" alt="category">
        </div>
        <div class="item__details">
            <div class="item__title">
            Creation d'une application mobile
            </div>
            <div class="item__price">
            300 000 FCFA / <span class="red">Fermé</span>
            </div>
            <div class="item__description">
                Super fast and power efficient A lot of fast memory High resolution camera 
                Super fast and power efficient A lot of fast memory High resolution camera
                Super fast and power efficient A lot of fast memory High resolution camera
            </div>
            <div class="date">
                Ajourd'hui à 12h:00
            </div>
        </div>
    </div>
</div>