<div class="hero oblique">
    <div class="content">
        <h2>
                Trouvez des personnes qualifiées et disponibles pour vos projets
        </h2>
        <button class="home-button">
            Deposez un projet
        </button>
    </div>
    <div class="waves"></div>
</div>
   
   <div class="content2">
      <div class="card">
         
            <div class="icon"><img src="../../assets/img/project-management.png" alt=""></div>
            <p class="title">Projet</p>
            <p class="text">Déposez votre projet en toute simplicité.</p>
         
      </div>
      <div class="card">
         
            <div class="icon"><img src="../../assets/img/offer.png" alt=""></div>
            <p class="title">Devis</p>
            <p class="text">Recevez des devis des personnes califiées.</p>
         
      </div>
      <div class="card">
         
            <div class="icon"><img src="../../assets/img/choices.png" alt=""></div>
            <p class="title">Choix</p>
            <p class="text">Choisissez le devis qui vous convient.</p>
         
      </div>
   </div>




